body{margin: 0;
}
a{text-decoration: none;
color:white}
a:hover{color:#d81b60}

.navbar{display:flex;
    background-color:#ffcdd2;
    justify-content:space-between;
    align-items:center;
    padding:4px 8px;
    position:sticky;
    top:0;
}
.navbar_logo{font-size:50px;
            font-family: 'Patrick Hand', cursive;
          }

.navbar_logo i {color:white
}
.navbar_menu{font-family: 'Patrick Hand', cursive;
            font-size: 30px;
            display:flex;
          list-style: none;
          padding-left: 0;
        }
.navbar_menu li{padding:8px 12px;
}
.navbar_links {
    list-style: none;
    display: flex;
    padding-left: 0;
}
.navbar_links i {  text-decoration: none;
                    color:white;
                  display:flex;}
.navbar_links i:hover{color:#d81b60}


.navbar_toggleBtn{
    text-decoration: none;
    display:none;
    position: absolute;
    right:32px;
    font-size:24px;
    color:white;
}

.navbar_toggleBtn i:hover{color:#d81b60
}


@media screen and (max-width:768px){
.navbar{
    flex-direction: column;
    align-items: flex-start;
    padding:8px 12px;
}
.navbar_menu{
    display:none;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.navbar_menu li{
    width:100%;
    text-align:center;
}
.navbar_links{
    display:none;
    justify-content: center;
    width:100%;
}

.navbar_toggleBtn{
    display:block;
}

.navbar_menu.active,
.navbar_links.active{
    display:flex;
}
}

/*본문 */
body p{font-family:'Patrick Hand', cursive;
        font-size: 30px;
        color:black;
        text-align: center
      }
img{width:200px; 
    height:400px
  }

footer p {clear:both;
          font-family: 'Patrick Hand', cursive;
          font-size: 20px;
          color:black;
          text-align: center;
        }
